In [0]:
import requests
import json
import pandas as pd
import time
from datetime import datetime

In [0]:
# We make the first request to the API
r=requests.get('https://min-api.cryptocompare.com/data/v2/histohour?fsym=POLY&tsym=ETH&limit=2000')

In [0]:
# We get the data from the response
data=json.loads(r.text)

In [0]:
# We create a dataframe with the data
df=pd.DataFrame(data['Data']['Data'])

# We compute the earliest timestamp (necessary to call the next query)
earliest_timestamp=min(df.time)

In [5]:
# While the earliest timestamp is greater than the initial date of our data (August 2018) we make more queries
while earliest_timestamp > 1533081600:
  r=requests.get('https://min-api.cryptocompare.com/data/v2/histohour?fsym=POLY&tsym=ETH&limit=2000&toTs='+str(earliest_timestamp))
  data=json.loads(r.text)
  # We append more data
  df=df.append(data['Data']['Data'])
  # We recompute the earliest timestamp
  earliest_timestamp=min(df.time)
  print(earliest_timestamp)
  print(datetime.utcfromtimestamp(earliest_timestamp).strftime('%Y-%m-%d %H:%M:%S'))
  # We wait 3 seconds (not to get the ip banned from the API)
  time.sleep(3)

1556067600
2019-04-24 01:00:00
1548867600
2019-01-30 17:00:00
1541667600
2018-11-08 09:00:00
1534467600
2018-08-17 01:00:00
1527267600
2018-05-25 17:00:00

In [0]:
# We clean the data of duplicates 
df=df.drop_duplicates()

In [0]:
# We convert times to readable times
df.loc[:,'time_readable']=df.time.apply(lambda x:datetime.utcfromtimestamp(x).strftime('%Y-%m-%d %H:%M:%S') )

In [0]:
# We convert to csv
df.to_csv('POLY_price.csv', index=False)

In [0]:
# We download the csv file
from google.colab import files
files.download('POLY_price.csv')

In [16]:
df.head()

      close conversionSymbol  ... volumeto        time_readable
0  0.000261                   ...   1.4770  2019-07-16 09:00:00
1  0.000261                   ...   0.7431  2019-07-16 10:00:00
2  0.000264                   ...   3.2730  2019-07-16 11:00:00
3  0.000280                   ...  10.1400  2019-07-16 12:00:00
4  0.000272                   ...  22.2300  2019-07-16 13:00:00

[5 rows x 10 columns]